<div class="start-screen grid-content">


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Algaetions</h3>
        <h3 class="header sub-header center"><em><strong>n. </strong></em>What someone thinks about algae, 
        whether or not <strong>there is proof.</strong></h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll on this side to begin
        </h3>
    </div>


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Using the map</h3>
        <h3 class="header sub-header center"><strong>Scroll</strong> on the map to <strong>zoom</strong> in or out
        </h3>
        <h3 class="header sub-header center"><strong>Click</strong> and <strong>drag</strong> to pan
        </h3>
        <h3 class="header sub-header center"><strong>Click</strong> on India, Bangladesh, Myanmar, or Thailand to view forest cover loss for each country.
        </h3>
        <h3 class="header sub-header center"><strong>Red</strong> bubbles are locations which have experienced a loss of forest cover
        </h3>
        <h3 class="header sub-header center"><strong>Green</strong> bubbles are locations which have algae blooms
        </h3>
        <a ui-sref="mapsettings" class="button expand"><strong>Click</strong> here to change map settings</a>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Deforestation</h3>
        <h3 class="header sub-header center">Deforestation is clearing Earth's forests on a massive scale, often resulting in damage to the quality of the land <em>and the ecosystem around it.</em>
        </h3>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Photosynthesis</h3>
        <h3 class="header sub-header center">The process in which plants take in Carbon Dioxide and Water, and yeild Oxygen and Glucose.
        </h3>

        <h3 class="header sub-header center">Photosynthesis can be summarized in a simple chemical 
        equation</h3>

        <h3 class="header sub-header center">6CO<sub>2</sub> + 6H<sub>2</sub>O = C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6O<sub>2</sub></h3>

    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Carbon Sinks</h3>
        <h3 class="header sub-header center">A carbon sink is anything that stores more carbon than it releases, lowering overall CO<sub>2</sub> rates in the atmosphere.
        </h3>
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Loss of Forests</h3>

        <h3 class="header sub-header center">Forests are a common example of carbon sinks. 
        They store exess carbon in the atmosphere, and release it at a rapid rate when cut down. Deforestation 
        has removed various carbon sinks in the world.</h3>
    </div>

    <div clas="country-data grid-content small-12">
    
        <hr >

        <div id="MMRInfo" class="grid-block header sub-header">
            <div class="slight-margin grid-content main-header">MMR</div>
            <div class="grid-content sub-header">
                <p class="information-country">Myanmar lost <strong>7,445,000 hectares</strong> of forest cover between 1990 and 2010.</p>
                <p class="information-country">Ranked <strong>#3</strong> in deforestation rates (UN).</p>
            </div>

        </div>

        <div id="THAInfo" class="grid-block header sub-header">
            <div class="slight-margin grid-content main-header">THA</div>
            <div class="grid-content sub-header">
                <p class="information-country">Thailand lost <strong>43</strong> percent of its forests between 1973 and 
                2009.</p>
                <p class="information-country">Main causes include illegal logging.</p>
            </div>
        </div>

        <div id="BGDInfo" class="grid-block header sub-header final-row">
            <div class="slight-margin grid-content main-header">BGD</div>
            <div class="grid-content sub-header">
                <p class="information-country">Only <strong>6.7</strong> percent of Bangladesh has forest cover</p>
                <p class="information-country"><strong>2,000 hectares</strong> of forest cover are lost per year</p>
            </div>
        </div>

        <hr class="final-bar">     
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Bengal Bay</h3>

        <h3 class="header sub-header center">The worlds largest bay. Bordered by India, Bangladesh, Myanmar, and Thailand.</h3>


        <h3 class="header sub-header center">The bay was known as a "strong carbon sink" in 1991. It stored excess CO<sub>2</sub> in the atmosphere. In 2011, the CO<sub>2</sub> rates were considerably higher than those in 1991. This may have been a cause of deforestation.</h3>        

    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Why?</h3>

        <h3 class="header sub-header center">Deforestation removed lots of carbon sinks near Bengal Bay. Excess carbon would now go to either of two places: The atmosphere, or the sea. Too much of either option is bad. The atmopshere holding excess CO<sub>2</sub> causes global warming. The sea, however, <strong>takes in the excess carbon and increases its concentration in the water.</strong></h3>      

    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Algae Blooms</h3>
        
        <h3 class="header sub-header center"><strong>CO<sub>2</sub></strong>, for some cases of photosynthesis, is known as a limiting factor for the reaction. This means that certain species of plants are unable to grow because of the lack of CO<sub>2</sub> in the ecosystem.</h3>

        <h3 class="header sub-header center">Because there is no longer a lack of CO<sub>2</sub> in aquatic ecosystems, CO<sub>2</sub> is no longer a limiting factor, <strong>increasing the amount of algae blooms in the sea.</strong></h3>

    </div>

    <div>
        <h3 class="header main-header center vertical-align">Prevention</h3>

        <h3 class="header sub-header center">Deforestation is a significant issue that plagues several countries around the world. Its various effects include the rise of carbon dioxide levels in the sea, causing a potential increase in algae blooms.</span></h3>

        <h3 class="header sub-header center">However, organizations around the world are raising awareness, or are attempting to prevent the aggravation of this issue.</h3>        
    </div>

    <div clas="country-data grid-content small-12">
    
        <hr >

        <div id="MMRInfo" class="grid-block header sub-header">
            <div class="slight-margin grid-content main-header">GFW</div>
            <div class="grid-content sub-header">
                <p class="information-country">Global Forest Watch monitors the depletion of forest cover through various datasets Check them out <a href="http://www.globalforestwatch.org/">here</a>.</p>
            </div>

        </div>

        <div id="MMRInfo" class="grid-block header sub-header">
            <div class="slight-margin grid-content main-header">WWF</div>
            <div class="grid-content sub-header">
                <p class="information-country">World Wildlife Fund is an organization that works to conserve biodiversity, by protecting natural resources. Check them out <a href="http://www.worldwildlife.org/">here</a>.</p>
            </div>

        </div>

        <hr class="final-bar">     
    </div>    

</div>
