<div class="start-screen grid-content">


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Map Settings</h3>
        <h3 class="header sub-header center"><span class="lighter">Edit any settings in the form below to update the map</span></h3>
    </div>

    <div class="grid-content small-12">
        <h3 class="header sub-header center"><span class="lighter">To select a date, simply click on the time in the bar.
        It should automatically highlight to indicate your selection.</span></h3>
        <h3 class="header sub-header center"><span class="lighter">Forest data, however, can be cumulative.
        Enabling the cumulative switch will include data from previous dates, as well as the selected one</span></h3>
        <h3 class="header sub-header center"><span class="lighter">Algae Data used in this app was provided by NASA. Tree cover loss is provided by FORMA. Both datasets and are from the year 2015</span></h3>

        <form id="mapform">
            
            <div class="grid-block">
                <div class="grid-content">
                    <h3 class="header sub-header center"><span class="lighter">Algae Blooms</span></h3>
                    <ul class="button-group segmented expand picker">
                        <li>
                            <input type="radio" name="2015-algae" value="01" id="201501-algae">
                            <label for="201501-algae">January</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="02" id="201502-algae">
                            <label for="201502-algae">February</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="03" id="201503-algae">
                            <label for="201503-algae">March</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="04" id="201504-algae">
                            <label for="201504-algae">April</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="05" id="201505-algae">
                            <label for="201505-algae">May</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="06" id="201506-algae">
                            <label for="201506-algae">June</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-content">
                    <h3 class="header sub-header center"><span class="lighter">Forest Cover</span></h3>
                    <ul class="button-group segmented expand picker">
                        <li>
                            <input type="radio" name="2015-forest" value="01" id="201501-forest">
                            <label for="201501-forest">January</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="02" id="201502-forest">
                            <label for="201502-forest">February</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="03" id="201503-forest">
                            <label for="201503-forest">March</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="04" id="201504-forest">
                            <label for="201504-forest">April</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="05" id="201505-forest">
                            <label for="201505-forest">May</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="06" id="201506-forest">
                            <label for="201506-forest">June</label>
                        </li>
                    </ul>
                    <div class="switch">
                        <input type="checkbox" id="cumulative">
                        <label for="cumulative"></label>
                    </div>
                    <h3 class="header sub-header center cumulative-switch">Cumulative <br />(this may slow the map down a bit)</h3>
                </div>
            </div>

            <div class="grid-block">
                <div class="grid-content">
                    <h3 class="header sub-header center"><span class="lighter">Countries (Forest Cover)</span></h3>
                    <ul class="button-group segmented expand picker">
                        <li>
                            <input type="radio" name="countries" value="bangladesh" id="bangladesh-countries">
                            <label for="bangladesh-countries">Bangladesh</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="myanmar" id="myanmar-countries">
                            <label for="myanmar-countries">Myanmar</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="thailand" id="thailand-countries">
                            <label for="thailand-countries">Thailand</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="india" id="india-countries">
                            <label for="india-countries">India</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="all" id="all-countries">
                            <label for="all-countries">All</label>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    
    <div class="button-holder">
        <a onclick="checkMapForm()" ui-sref="mapsettings" class="button expand">Update Map</a>
    </div>



</div>