

<div class="start-screen grid-content">


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Algaetions</h3>
        <h3 class="header sub-header center"><em><strong>n. </strong></em><span class="lighter">What someone thinks about algae, 
        whether or not <strong>there is proof.</strong></span></h3>
        <h3 class="header sub-header center"><span class="lighter">A dynamic analysis. Scroll on this side to begin</span>
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>

    </div>


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Using the map</h3>
        <h3 class="header sub-header center"><span class="lighter">Scroll on the map to zoom in or out</span>
        </h3>
        <h3 class="header sub-header center"><span class="lighter">Click and drag to pan</span>
        </h3>
        <h3 class="header sub-header center"><span class="lighter">Hover over bubbles or countries for data</span>
        </h3>
        <a ui-sref="mapsettings" class="button expand"><span class="lighter">Click here to change map settings</span></a>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Deforestation</h3>
        <h3 class="header sub-header center"><span class="lighter">Deforestation is clearing Earth's forests on a massive scale, often resulting in damage to the quality of the land <em>and the ecosystem around it.</em></span>
        </h3>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Photosynthesis</h3>
        <h3 class="header sub-header center"><span class="lighter">The process in which plants take in Carbon Dioxide and Water, and yeild Oxygen and Glucose.</span>
        </h3>
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Carbon Sinks</h3>
        <h3 class="header sub-header center"><span class="lighter">A carbon sink is anything that stores more carbon that it releases, lowering overall CO<sub>2</sub> rates in the atmosphere.</span>
        </h3>
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">How is this related?</h3>

        <h3 class="header sub-header center"><span class="lighter">Forests are a common example of carbon sinks. 
        They store exess carbon in the atmosphere, and release it at a rapid rate when cut down. Deforestation 
        has removed various carbon sinks in the world.</span></h3>

        <h3 class="header sub-header center"><span class="lighter">Photosynthesis can be summarized in a simple chemical 
        equation</span></h3>

        <h3 class="header sub-header center"><span class="lighter">CO<sub>2</sub> + H<sub>2</sub>O = C<sub>6</sub>H<sub>12</sub>O<sub>2</sub> + O<sub>2</sub></span></h3>

        </h3>
    </div>

</div>
