
<div class="start-screen grid-content">

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Chlorphyll-A</h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Chlorphyll-A</h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Chlorphyll-A</h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>
    </div>
    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Chlorphyll-A</h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>
    </div>
    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Chlorphyll-A</h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>
    </div>
    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Chlorphyll-A</h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>
    </div>
</div>
