

<div class="start-screen grid-content">


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align"><em class="lighter">Algae</em>tions</h3>
        <h3 class="header sub-header center"><em><strong>n. </strong></em>What someone thinks about algae, 
        whether or not <strong>there is proof.</strong></h3>
        <h3 class="header sub-header center">A dynamic analysis. Scroll on this side to begin
        </h3>
        <i class="fa fa-angle-down elem-center header fa-3x"></i>

    </div>


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Using the map</h3>
        <h3 class="header sub-header center">Scroll on the map to zoom in or out
        </h3>
        <h3 class="header sub-header center">Click and drag to pan
        </h3>
        <h3 class="header sub-header center">Hover over bubbles or countries for data
        </h3>
        <a ui-sref="mapsettings" class="button expand">Click here to change map settings</a>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Deforestation</h3>
        <h3 class="header sub-header center">Deforestation is clearing Earth's forests on a massive scale, often resulting in damage to the quality of the land <em>and the ecosystem around it.</em>
        </h3>
        
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Photosynthesis</h3>
        <h3 class="header sub-header center">The process in which plants take in Carbon Dioxide and Oxygen,
         and yeild Water and Glucose.
        </h3>
        
        <img class="photosynthesis" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Photosynthesis.gif" width="500" height="700">
    </div>

</div>
