<div class="start-screen grid-content">


    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Map Settings</h3>
        <h3 class="header sub-header center">Edit any settings in the form below to update the map</h3>
        <!-- <i class="fa fa-angle-down elem-center header fa-3x"></i> -->
    </div>

    <div class="grid-content small-12">
        <h3 class="header main-header center vertical-align">Form</h3>
        <h3 class="header sub-header center">Edit any settings in the form below to update the map</h3>
        <h3 class="header sub-header center">To select a date, simply click on the time in the bar.
        It should automatically highlight to indicate your selection.</h3>
        <h3 class="header sub-header center">Forest data, however, can be cumulative.
        Enabling the cumulative switch will include data from previous dates, as well as the selected one</h3>

        <form id="mapform">
            
            <div class="grid-block">
                <div class="grid-content">
                    <h3 class="header sub-header center">Algae Blooms</h3>
                    <ul class="button-group segmented expand picker">
                        <li>
                            <input type="radio" name="2015-algae" value="01" id="201501-algae">
                            <label for="201501-algae">201501</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="02" id="201502-algae">
                            <label for="201502-algae">201502</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="03" id="201503-algae">
                            <label for="201503-algae">201503</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="04" id="201504-algae">
                            <label for="201504-algae">201504</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="05" id="201505-algae">
                            <label for="201505-algae">201505</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-algae" value="06" id="201506-algae">
                            <label for="201506-algae">201506</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-content">
                    <h3 class="header sub-header center">Forest Cover</h3>
                    <ul class="button-group segmented expand picker">
                        <li>
                            <input type="radio" name="2015-forest" value="01" id="201501-forest">
                            <label for="201501-forest">201501</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="02" id="201502-forest">
                            <label for="201502-forest">201502</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="03" id="201503-forest">
                            <label for="201503-forest">201503</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="04" id="201504-forest">
                            <label for="201504-forest">201504</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="05" id="201505-forest">
                            <label for="201505-forest">201505</label>
                        </li>
                        <li>
                            <input type="radio" name="2015-forest" value="06" id="201506-forest">
                            <label for="201506-forest">201506</label>
                        </li>
                    </ul>
                    <div class="switch">
                        <input type="checkbox" id="cumulative">
                        <label for="cumulative"></label>
                    </div>
                    <h3 class="header sub-header center cumulative-switch">Cumulative</h3>
                </div>
            </div>

            <div class="grid-block">
                <div class="grid-content">
                    <h3 class="header sub-header center">Countries (Forest Cover)</h3>
                    <ul class="button-group segmented expand picker">
                        <li>
                            <input type="radio" name="countries" value="bangladesh" id="bangladesh-countries">
                            <label for="bangladesh-countries">Bangladesh</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="myanmar" id="myanmar-countries">
                            <label for="myanmar-countries">Myanmar</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="thailand" id="thailand-countries">
                            <label for="thailand-countries">Thailand</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="india" id="india-countries">
                            <label for="india-countries">India</label>
                        </li>
                        <li>
                            <input type="radio" name="countries" value="all" id="all-countries">
                            <label for="all-countries">All</label>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    
    <div class="button-holder">
        <a onclick="checkMapForm()" ui-sref="mapsettings" class="button expand">Update Map</a>
    </div>



</div>